:root {
  --baby-blue: #6ccff6;
  --blue-dark: #001c55;
  --sonic-silver: #757780;
  --baby-powder: #fffffc;
  --yellow-green: #98ce00;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--baby-powder);
  color: var(--blue-dark);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

button {
  background-color: white;
  outline: none;
  border: none;
}

button:hover,
buttton:focus {
  outline: none;
  transition: 0.3s ease-in-out;
}

input:hover,
input:focus {
  outline: none;
}

/* ............................................. HEADER .................................................... */

header {
  background-color: var(--baby-blue);
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  padding: 40px;
  margin: 0px;
  height: 100vh;
}

header button:hover,
header button:focus {
  background-color: var(--blue-dark);
}

div.header-content button:hover,
div.header-content button:focus {
  background-color: var(--baby-powder);
}

nav {
  background-color: white;
  /* position: relative; */
  /* margin-bottom: 40px; */
  /* top: 20px; */
  /* left: 0; */
  /* right: 0;  */
  /* margin-left: auto;
  margin-right: auto; */
  /* display: grid; */
  /* grid-template-columns: auto auto auto auto; */
  /* align-items: center;
  justify-items: center; */
  /* padding: 12px 32px; */
  /* border-radius: 28px; */
  /* width: 80%; */
}

/* nav div.divImage {
  width: 100%;
} */

nav img {
  width: 100%;
  max-width: 128px;
}

/* nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
} */

nav button {
  border: solid 1px var(--baby-blue);
  padding: 6px 12px;
  border-radius: 16px;
  color: var(--baby-blue);
}

nav input {
  border: 1px solid hsla(220, 100%, 17%, 0.2);
  border-radius: 16px;
}

/* nav div.header-input {
  position: relative;
} */

nav svg {
  fill: var(--baby-powder);
  font-weight: 900;
  position: relative;
  left: 12px;
  top: 8px;
}

div.header-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 48px auto;
}

div.header-content button {
  margin: 16px 0 0 0;
  width: 80%;
  padding: 20px 16px;
  border-radius: 8px;
  background-color: var(--blue-dark);
  color: var(--baby-blue);
  font-size: 16px;
  font-weight: 600;
}

div.title {
  width: 160px;
  background-color: var(--baby-powder);
  opacity: 0.96;
  padding: 20px 20px;
  border-radius: 1024px;
  margin-bottom: 24px;
}

/* nav img.menu {
  display: none;
} */

nav.mobile-nav {
  display: none;
}

button#ham-button {
  display: none;
}

/* ..................................... MEDIA QUERIES ........................................... */

@media only screen and (max-width: 1180px) {
  /* header nav {
    flex-wrap: wrap;
  } */

  /* nav div.divImage {
    flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  } */

  nav.mobile-nav{
    display: none;
  }

  nav.mobile-nav ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  nav.mobile-nav button{
    border-color: var(--blue-dark);
    color: var(--baby-blue);
  }

  nav.mobile-nav button:hover{
    background-color: var(--baby-blue);
    color: white;
  }

  nav.mobile-nav.active {
    display: block;
  }
  
  button#ham-button, button#ham-button:hover, button#ham-button:focus {
    display: block;
    border: none;
    background-color: transparent;
  }

  img#hamburger, img#x{
    width: 40px;
    filter: invert(88%) sepia(27%) saturate(4405%) hue-rotate(168deg) brightness(101%) contrast(93%)
  }

  img#hamburger:hover, img#x:hover, img#hamburger:focus, img#x:focus{
  filter: invert(88%) sepia(97%) saturate(4405%) hue-rotate(168deg) brightness(101%) contrast(53%)
  }


}

@media only screen and (max-width: 825px) {
  header {
    background-image: none;
    background-color: var(--baby-powder);
  }

  /* header nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 88%;
  }

  header nav > *:not(:first-child):not(:nth-child(2)):not(:last-child) {
    display: none;
  } */

  /* nav div.divImage {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  } */

  /* nav img.menu {
    display: block;
    width: 40px;
    margin: 0;
    filter: invert(68%) sepia(63%) saturate(414%) hue-rotate(164deg)
      brightness(99%) contrast(94%);
  } */

  header img {
    width: 240px;
    margin: 0;
  }

  /* nav div.divImage {
    padding: 0px;
    width: 20%;
  } */
npom 
  div.header-content {
    width: 70%;
  }

  div.title {
    background-color: var(--baby-blue);
  }
}
